$color-white: #fff;
$color-black: #000;
$light-grey-bg: #f7f7f9;
$link-maroon: #C14463;
$border-grey: #c7c7c7;
$border-light-grey: #e8e8e8;

$full: 100%;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;


@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin select-appearance($option) {
  -webkit-appearance: $option;
  -moz-appearance: $option;
  appearance: $option;
}



.cart-section {
  .cart-table {
    margin-top: 30px;
  }

  .cart-table-header {
    border-bottom: none;
    font-family: $secondary-font;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    background: transparent !important;
  }

  .line-item {
    td {
      padding: 20px 8px;
    }
  }

  .cart-item-image {
    img {
      max-height: 80px;
    }
  }

  .cart-item-description {
    font-weight: 300;

    h4 {
      margin-bottom: 8px;
      font-family: $secondary-font;
      font-size: 16px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .cart-item-price {
    color: $color-black;
    font-size: 16px;
  }

  .cart-item-quantity {
    input {
      max-width: 100px;
      border: solid 1px $border-grey;
      font-size: 13px;
      @include border-radius(0);
    }
  }

  .cart-item-total {
    color: $color-black;
    font-size: 16px;
    font-weight: 700;
  }

  .cart-total-row {
    background: $light-grey-bg;

    td {
      padding: 20px 0;
    }
  }

  .cart-coupon-block {
    padding-left: 20px !important;

    input {
      width: 200px;
      height: 44px;
      border: solid 1px $color-black;
      display: inline-block;
      font-size: 13px;
      @include border-radius(0);      
    }
  }

  .cart-total-text {
    padding-right: 10px !important;
    font-size: 16px;
  }

  .cart-total-block {
    font-size: 18px;
    font-weight: 700;
  }

  .cart-button-or-text {
    padding: 10px 10px 0;
    display: inline-block;
  }
}
