<a href="javascript:" class="header-top-nav-link header-cart-link">
  <span class="glyphicon glyphicon-shopping-cart"></span>
  Cart
  <span class="header-cart-count">0</span>
</a>

<%= link_to_cart %>
