@import 'common/fonts';
@import 'common/variables';
@import 'common/mixins';

#spree-header {
  margin: 0;
  background: transparent;

  #header {
    padding: 0;
    background: transparent;
  }
}

.header-top-bar {
  border-bottom: solid 1px $border-light-grey;
  padding: 10px 0;
  color: $light-grey-text;
  font-size: 13px;
  background: $color-white;

  .header-top-navbar {
    text-align: right;
  }

  .header-top-nav {
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
  }

  .header-top-nav-link {
    color: $light-grey-text;
    font-size: 13px;

    &:hover {
      color: $color-black;
    }
  }

  #link-to-cart {
    .cart-info {
      &.empty {
        color: $light-grey-text;
      }

      &.full {
        color: $link-blue;
      }

      &:hover {
        color: $color-black;
      }
    }
  }
}

.header-bottom-section {
  padding: 20px 0;
  background: $link-blue;

  .header-logo {
    color: $color-white;
    font-family: $secondary-font;
    font-size: 36px;
  }
}

.header-search-block {
  padding-top: 11px;
  text-align: right;

  .header-search-select-block {
    width: 25%;
    margin-left: -5px;
    border-right: solid 1px $border-light-grey;
    display: inline-block;
    position: relative;
    vertical-align: top;
  }

  .header-search-input-block {
    width: 70%;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
  }

  .header-search-button-block {
    width: 5%;
    margin-left: -5px;
    display: inline-block;
    vertical-align: top;
  }

  .header-search-input {
    width: $full;
    height: 40px;
    border: none;
    padding: 0 10px;
  }

  .header-search-button {
    width: $full;
    height: 40px;
    margin: 0;
    border: none;
    padding: 0;
    color: $color-white;
    background: $color-black;
  }
}
